<h1>Repeat Eats Newsletter</h1>
<p><%= @greeting %></p>
<p><%= @newsletter.title %></p>
<p><%= @newsletter.content %></p>

<p><a href="http://localhost:3000/users/edit">No likey emails? Unsubscribe!</a> </p>
