<h3><%= @greeting %></h3>
<p>Thank You for your Question we value you as a RepeatEater!</p>
<p>We will get back to you about: <%= @question %></p>
<p>At your prefered contact method of: <%= @contact_pref %></p>

<h4>Thank you for choosing Repeat Eats!</h4>