<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      About Repeat Eats
    </h1>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i>Products to Order</h4>
      </div>
      <div class="panel-body">
        <p>We have a large variety of cooking utensils and essential cooking supplies that are made to order. All of out
          products come in all different designs, patterns, and colors to suit each individual cooks needs to fully
          enhance the cooking experience.</p>
        <%= link_to 'Learn More', products_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-gift"></i>Buying & Selling Recipes</h4>
      </div>
      <div class="panel-body">
        <p>At Repeat Eats we are dedicated to making your best recipes known and maybe even allow you to make some money
          along the way. To post a recipe you must first be a premium member and when you post your recipes the only
          thing the potential buyer can see is the image of the dish and the name of it. After they purchase the recipes
          the full recipe will be e-mailed to them, so that no one can steal a free recipe.</p>
        <%= link_to 'Learn More', recipes_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-compass"></i>Open Forums</h4>
      </div>
      <div class="panel-body">
        <p>Repeat Eats had an open forum and that basically means that all members can create and reply to topics of
          food, products, or free recipes if you feel that it isn't worth anything or your just a nice person. Users are
          able to talk to one another about different ways of cooking a certain dish or to just debate the finner points
          of food.</p>
        <%= link_to 'Learn More', forums_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
