<h1 class="text-center">Home Page</h1>
<%= render 'shared/hero' %>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Header</h3>
      <p class="text-justify">Lorem ipsum dolor sit amet, nec voluptua facilisi te. Feugait nusquam abhorreant eu sed, vidit atqui minimum vel cu. Eos in postea epicurei, usu ut amet illum placerat, ad cum mutat apeirian. Vim facer placerat ne. Vim an legimus aliquando mnesarchum. Eu has duis adhuc saperet, sea choro detracto id. Utinam facete vulputate mel et, at mel illum deserunt mnesarchum, vitae primis verear no eam.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Header</h3>
      <p class="text-justify">Lorem ipsum dolor sit amet, nec voluptua facilisi te. Feugait nusquam abhorreant eu sed, vidit atqui minimum vel cu. Eos in postea epicurei, usu ut amet illum placerat, ad cum mutat apeirian. Vim facer placerat ne. Vim an legimus aliquando mnesarchum. Eu has duis adhuc saperet, sea choro detracto id. Utinam facete vulputate mel et, at mel illum deserunt mnesarchum, vitae primis verear no eam.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Header</h3>
      <p class="text-justify">Lorem ipsum dolor sit amet, nec voluptua facilisi te. Feugait nusquam abhorreant eu sed, vidit atqui minimum vel cu. Eos in postea epicurei, usu ut amet illum placerat, ad cum mutat apeirian. Vim facer placerat ne. Vim an legimus aliquando mnesarchum. Eu has duis adhuc saperet, sea choro detracto id. Utinam facete vulputate mel et, at mel illum deserunt mnesarchum, vitae primis verear no eam.</p>
    </div>
  </div>

</div>


