body {
    margin-top: 50px;
}

.navbar-inverse {
    /* can override coloring for the navbar */

}
.image{
    width: 200px;
    height: 200px;
}

#foot {
    padding-top: 75px;
}

#message {
    float: right;
    color: green;
}

#error {
    float: right;
    color: red;
}

